{% extends "layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block main %}

  <!-- Row homepage with two columns -->
  <div class="row homepage align-items-center text-center">

    <!-- First column (left) with three elements (text) -->
    <div class="homepage-text col-lg-6 pt-2 pt-sm-4 pb-sm-2 pt-lg-0 pb-lg-4 mb-lg-4">
      <div class="homepage-sub-title mb-4">
        Software Developer
      </div>
      <div class="homepage-title homepage-title mx-4 mx-lg-0">
        <p>José Herrera</p>
      </div>
      <div class="homepage-description">
        I'm José Herrera Roman. A software <br>
        developer based in Australia. Focused in <br>
        Finance and Cloud Computing.
      </div>
    </div>

    <!-- Second column (right) with one element (image) -->
    <div class="container-fluid col-lg-6 homepage-image">
      <img src="/static/angourie-point.jpeg" class="img-fluid ms-lg-3" alt="homepage-image">
    </div>
    
  </div>

{% endblock %}
